html,
body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	clear: both;
	content: "";
	display: table;
}


li {
	list-style: none;
}

ul li:last-child {
	margin-bottom: 0;
}

img {
	display: block;
	height: auto;
}

button,
label {
	cursor: pointer;
}

input,
button,
textarea {
	background: none;
	border: none;
	outline: none;
	display: block;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input::placeholder {
	color: inherit;
}

button {
	cursor: pointer;
}

input,
textarea {
	display: block;
	resize: none;
}

body {
	background-color: #011140;
	font-size: 14px;
	line-height: 19px;
	color: #ffff;
	width: 100%;
	font-family: "Poppins", sans-serif;
}

.container {
	max-width: 1280px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}

.dn {
	display: none;
}

section {
	padding: 100px 0;

}

.sec_tit {
	font-weight: 700;
	color: #ffff;
	font-size: 44px;
	line-height: 66px;
	text-align: left;
	margin: 0 auto;
}

a {
	color: #ffff;
	text-decoration: none;

}

a:hover {
	color: #44F2D2;
	text-decoration: underline;
	transition: 0.3s ease;

}

.hover {
	transition: 0.3s;
}

.hover:hover {
	color: #44F2D2;
}

.btn {

	border: 2px solid #44F2D2;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	color: #44F2D2;
	width: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 4px 16px;

}

.btn_bd:hover {
	background-color: #44F2D2;
	color: #000;
}

.btn_bl:hover {
	background-color: #44F2D2;
	color: #000;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.menu {
	background-color: #22006B;
	margin-top: 50px;
}

.menu_in {
	align-items: center;
}

.menu_items {
	margin-left: 40px;
}

.btn_bl {
	margin-left: 20px;
}

.desc {
	width: 519px;
	font-size: 18px;
	font-weight: 500;
	line-height: 27px;
	letter-spacing: 0em;
	text-align: left;

}

.gallery_img {
	position: relative;
}

.gallery_img img {
	width: 100%;
	height: auto;

}

.text-overlay {
	position: absolute;
	right: 0;
	bottom: 0;
}

.gallery_txt {
	width: 1062px;
	font-size: 18px;
	font-weight: 500;
	line-height: 27px;
	letter-spacing: 0em;
	text-align: left;
	margin: 10px 0 20px;

}

.price_list-menu {
	background-color: #22006B;


}

.search_form {
	border: 1px solid;
	background-color: #B9B9B9;
	display: inline-flex;
	padding: 0 20px;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;


}

.search_form-txt {
	border: none;
	outline: none;
	font-size: 18px;
	color: #fff;
	padding-right: 10px;
}

.search_form-btn {
	border: none;
}

.search_form-image {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.price_list-list {
	background-color: #2F4F4F;
	margin-bottom: 15px;
}

.price_list-desc {
	margin-top: 20px;
}

.sec_titl {

	font-size: 32px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: 0em;
	text-align: left;

}

.price_list-image {
	margin: 10px 10px;
}

.price_list_txt {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
}

.list_icon-wd {
	width: 24px;
	height: 24px;
	background: url(/img/icons/window.svg);
	display: inline-block;
}

.list_icon-app {
	width: 18px;
	height: 24px;
	background: url(/img/icons/apple.svg);
	display: inline-block;
}

.list_icon {
	width: 28px;
	height: 20px;
	background: url(/img/icons/playstation.svg);
	display: inline-block;
}

.price-btn {
	padding: 60px 10px;
}

button.price_list-btn {
	border: 1px solid yellow;
	background-color: yellow;
	padding: 10px 15px;

	font-size: 32px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: 0em;
	text-align: left;

}

.sm_bl {
	color: #44F2D2;
}

.btn btn_bd {
	align-items: center;
}

.price_btn {
	width: 159px;
	margin: 0 auto;
}

.release_btn {
	margin-left: 20px;
}

.release_txt {
	color: yellow;
}

.release_games-in {
	background-color: #2F4F4F;
	width: 302px;
	height: 130px;
}

.price_list-btn.block {
	width: 78px;
	height: 37px;
	font-size: 18px;
	font-weight: 700;
	line-height: 27px;
	letter-spacing: 0em;
	padding: 5px 8px;
}

.release_games_desc {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
}

.release_games_txt {
	font-size: 18px;
	font-weight: 700;
	line-height: 27px;
	letter-spacing: 0em;
	text-align: left;
}

.release_block,
.release_games_desc {
	margin: 10px;
}

.exclusive_desc {
	background-color: #2F4F4F;
	width: 411px;
	height: 149px;
}

.exclusive_btns {
	width: 198px;

}

.exclusive_desc .btn_sm {
	background: none;
	width: 55px;
	height: 37px;
	color: #F2E852;
	font-size: 18px;
	font-weight: 700;
	line-height: 27px;
	letter-spacing: 0em;
	text-align: left;


}

.exclusive_desc .btn_bg {
	width: 134px;
	height: 37px;
	padding: 5px 8px;
	font-size: 18px;
	font-weight: 700;
	line-height: 27px;
	letter-spacing: 0em;
	text-align: right;


}

.exclusive_desc .btn_bg::before {
	content: "$19.99";
	color: #B9B9B9;
	text-decoration: line-through;
}

.exclusive_desc .btn_bg::after {
	content: "";
}

.exclusive_titl {
	width: 375px;
	margin-left: 10px;
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0em;
	text-align: left;
}
